<div class="container">
  <div class="row">
    <nav class="nav">
      <a class="nav-link active" aria-current="page" href="/books">Home</a>
      <a class="nav-link" href="/books/add-book">Add Book</a>
      <a class="nav-link" href="/book">Show Book</a>
    </nav>
  </div>
</div>
